@import "tailwindcss";

@theme {
  --animate-shake: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
  
  @keyframes shake {
    10%, 90% { transform: translate3d(calc(var(--shake-int, 1) * -1px), var(--shake-y, 0px), 0); }
    20%, 80% { transform: translate3d(calc(var(--shake-int, 1) * 2px), var(--shake-y, 0px), 0); }
    30%, 50%, 70% { transform: translate3d(calc(var(--shake-int, 1) * -4px), calc(var(--shake-int, 1) * 2px), 0); }
    40%, 60% { transform: translate3d(calc(var(--shake-int, 1) * 4px), calc(var(--shake-int, 1) * -2px), 0); }
  }
}
